pkgbase = vscodium-bin
	pkgdesc = Binary releases of VS Code without MS branding/telemetry/licensing.
	pkgver = 1.99.02289
	pkgrel = 3
	url = https://github.com/VSCodium/vscodium
	install = vscodium-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = fontconfig
	depends = libxtst
	depends = gtk3
	depends = python
	depends = cairo
	depends = alsa-lib
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc>=2.28-4
	depends = bash
	optdepends = gvfs: For move to trash functionality
	optdepends = libdbusmenu-glib: For KDE global menu
	provides = vscode
	provides = codium
	provides = vscodium
	conflicts = vscodium
	source = vscodium-bin.desktop
	source = vscodium-bin-url-handler.desktop
	source = vscodium-bin.install
	source = vscodium-bin.sh
	sha256sums = 6118f416e2ccf6bb26ccabcbe03744d6b81a65a3fadfbcea98fe4f7561556bf7
	sha256sums = afd622fff74f86daa3767f5f0955bbdf0947d16bee3f6ff0bb12a56f0f97197e
	sha256sums = 01ba3d33e76804e2346d08f4eda256a29610c9eb59432e4b016d05ad93d901ba
	sha256sums = 63b9f3e07dcfe92f59e851fdeeaed6ee986950672f75cc950489bce67e85d884
	source_x86_64 = https://github.com/VSCodium/vscodium/releases/download/1.99.02289/VSCodium-linux-x64-1.99.02289.tar.gz
	sha256sums_x86_64 = c8aece46c44058c27ccab591392fe348a7720b2b89d98fa021d665aada3efd7a
	source_aarch64 = https://github.com/VSCodium/vscodium/releases/download/1.99.02289/VSCodium-linux-arm64-1.99.02289.tar.gz
	sha256sums_aarch64 = 0fddc48794cf46077d3b1278a56b0eaf24b998ecf66a640e1ce9cef8af7d8408

pkgname = vscodium-bin
