pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 150.0.1_1
	pkgrel = 1
	epoch = 1
	url = https://librewolf.net/
	install = librewolf-bin.install
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = git
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = libxdamage
	depends = libxi
	depends = alsa-lib
	depends = libxrender
	depends = libxcursor
	depends = gdk-pixbuf2
	depends = libxrandr
	depends = pango
	depends = freetype2
	depends = glibc
	depends = bash
	depends = fontconfig
	depends = libxcomposite
	depends = glib2
	depends = gcc-libs
	depends = libx11
	depends = libxfixes
	depends = at-spi2-core
	depends = libxcb
	depends = cairo
	depends = nspr
	depends = libxext
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	backup = usr/lib/librewolf/librewolf.cfg
	backup = usr/lib/librewolf/distribution/policies.json
	source = git+https://codeberg.org/librewolf/source.git#tag=150.0.1-1
	source = default192x192.png
	source = librewolf.desktop
	validpgpkeys = 662E3CDD6FE329002D0CA5BB40339DD82B12EF16
	sha256sums = edf8ea028c353f2b2a6cba9afa5c57a32d0aa841ee0b0e3ad9966ac727acd485
	sha256sums = 959c94c68cab8d5a8cff185ddf4dca92e84c18dccc6dc7c8fe11c78549cdc2f1
	sha256sums = 3d6ac59ae9d5ba4c9fe15f95c1338fa68214dec6119f8432336403e3be50f8ae
	source_x86_64 = https://codeberg.org/api/packages/librewolf/generic/librewolf/150.0.1-1/librewolf-150.0.1-1-linux-x86_64-package.tar.xz
	source_x86_64 = https://codeberg.org/api/packages/librewolf/generic/librewolf/150.0.1-1/librewolf-150.0.1-1-linux-x86_64-package.tar.xz.sig
	sha256sums_x86_64 = c886466d34de94c7ab945676a084821ed2bf0bad8a8c69d677a6a03b81fea5ba
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://codeberg.org/api/packages/librewolf/generic/librewolf/150.0.1-1/librewolf-150.0.1-1-linux-arm64-package.tar.xz
	source_aarch64 = https://codeberg.org/api/packages/librewolf/generic/librewolf/150.0.1-1/librewolf-150.0.1-1-linux-arm64-package.tar.xz.sig
	sha256sums_aarch64 = 844007d7f238d1ffdf8d4b4e0c973a90cb9486be178fe4f212f9f44ce3d260c7
	sha256sums_aarch64 = SKIP

pkgname = librewolf-bin
